@model UserEntity

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @Model.Name </h1>
    <h2>Desarrollador especializado en backend en tecnologias como Java Spring o Asp.Net</h2>
    <img src="~/images/photo.png" alt="My personal photo" class="img-fluid img-thumbnail rounded-circle mt-4"/>
</div>
